<h1>Listing Event Days</h1>
<%= link_to 'New Event Day', new_event_day_path %> | <%= link_to 'Back To Admin Panel', admin_path %><br><br>
<div class="divider"></div>
<% @event_days.each do |event_day| %>
  <div class="itemListing">
    <div class="identifier">
      <%= event_day.date.strftime("%B %d, %Y") %>
    </div>
    <div class="actionBlock">
      <%= link_to 'Show', event_day %>&nbsp;|&nbsp;
      <%= link_to 'Edit', edit_event_day_path(event_day) %>&nbsp;|&nbsp;
      <%= link_to 'Destroy', event_day, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div style="clear:both;"></div>
  </div><br> 
<% end %>
