<h1 class="articleListHeader">Articles</h1>
  <% @articles.each do |article| %>
    <div class="articleItem">
    	<div class="articleHeader">
	    		<div class="authorBlock">
	    			<%= image_tag("#{article.author.image}", class: 'authorImage') %><br>
	    			<div class="authorName"><%= article.author.name %></div>
	    		</div>
	    		<div class="titleBlock">
	    			<div class="articleTitle"><% article.title %></div>&nbsp;-&nbsp;<div class="articleDate"><%= article.created_at.strftime("%e/%m/%y") %></div>
	    		</div>  		    		
    	</div><br>
    	<div class="descBlock">
    		<div class="articleDesc"><%= article.desc %></div> <%= link_to(image_tag('next.png', class: 'articleBtn'), article)%>
    	</div>  	
    </div>
  <% end %>
<% if @prevMonth %>
	<%= link_to( image_tag('back.png', class: 'backArrow'), "/articles?offset=#{@prevMonth}") %>
<% end %>
<%= link_to( image_tag('next.png', class: 'nextArrow'), "/articles?offset=#{@nextMonth}") %>