<% if session[:logged_in] %>
  <div class="newArticleBlock"><%= link_to( "New Article", new_article_path) %></div>
<% end %>
<div class="articleScroll">
  <h1 class="articleListHeader">Articles</h1>
  <% @articles.each_with_index do |article, index| %>
    <div class="articleItem">
      <div class="articleHeader">
          <div class="authorBlock">
            <%= image_tag("#{@authors[index].image}", class: 'authorImage') %><br>
            <div class="authorName"><%= @authors[index].name %></div>
          </div>
          <div class="titleBlock">
            <div class="articleTitle"><%= article.title %></div>&nbsp;-&nbsp;<div class="articleDate"><%= article.created_at.strftime("%e/%m/%y") %></div>
          </div>
          <div class="articleBtnWrapper">
            <%= link_to(image_tag('whiteforward.png', class: "articleBtn"), article) %>
            <% if session[:logged_in] %>
              <%= link_to(image_tag("whiteedit.png", class: "suedit2"), edit_article_path(article)) %>
            <% end %>  
          </div>           
      </div><br>  
    </div>
  <% end %>
</div>
<div class="pageBar">
  <% if @prev %>
    <%= link_to( image_tag('back.png', class: 'backArrow'), "/articles?offset=#{@prev}") %>
  <% end %>
  <% if @next %>
    <%= link_to( image_tag('next.png', class: 'nextArrow'), "/articles?offset=#{@next}") %>
  <% end %>
</div>
