<div class="newsBlock">
	<div class="vspacertop"></div>
	<div class="subStories">
		<div class="subBlock subBlock1 newsStory" >
			<%= image_tag("facebook.png", class: "staticImage") %>
		</div>
		<div class="subBlock subBlock2 newsStory cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="3000" data-cycle-pause-on-hover="true" data-cycle-slides="> div">
			<% @events.each do |event| %>
				<%= link_to(image_tag(event.icon, class: "eventImage"), "https://www.facebook.com/pages/Zielinskis-the-Card-Game/102946859760100") %>
				<div class="dateStick subDateStick">
					<div class="dateStickBlock sdsb">
						<%= event.created_at.strftime("%b") %><br/>
						<%= event.created_at.strftime("%d") %>
					</div>
				</div>
				<div class="preTitle mainPreTitle">
					<%= event.title %>
				</div>
				<div id="storyOverlay" class="storyOverlay">		
					<div class="storyPreview">
						<h2>
							<%= event.title %>
						</h2>				
					</div>
					<%= link_to(image_tag("whiteforward32.png", class: "storyLink storyLink32"), event) %>
				</div>
			<% end %>			
		</div>
	</div><div class="spacer"></div><div class="mainStory newsStory cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="3000" data-cycle-pause-on-hover="true" data-cycle-slides="> div">
		<% @articles.each do |article| %>
			<div class="dateStick">
				<div class="dateStickBlock">
					<%= article.created_at.strftime("%b") %><br/>
					<%= article.created_at.strftime("%d") %>
				</div>
			</div>
			<div class="preTitle mainPreTitle">
				<%= article.title %>
			</div>
			<div id="storyOverlay" class="storyOverlay">		
				<div class="storyPreview">
					<h2>
						<%= article.title %>
					</h2>
					By <% article.author.name %>
				</div>
				<%= link_to(image_tag("whiteforward.png", class: "storyLink"), @mainStory) %>
			</div>				
		<% end %>
		
	</div><div class="vspacerbottom"></div>						
</div>

