<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label 'Link To Card Image' %><br>
    <%= f.text_field :image %>
  </p>

   <p>
    <%= f.label 'Link To Card' %><br>
    <%= f.text_field :link %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
