<!DOCTYPE html>
<html>
<head>
  <title>Zcgsite</title>
  <%= javascript_include_tag 'application'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= javascript_include_tag 'jquery.autoellipsis-1.0.10.min' %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="logobox"><img src="/assets/zcglogo.png"></div>
<div class="content">
	<div id="navBar" class="navBar">
		<%= link_to(root_path) do %>
		  <span class="navButton navHome">HOME</span><% end %>
		<%= link_to(articles_path) do %>
		  <span class="navButton navNews">NEWS</span><% end %>
		<%= link_to(podcasts_path) do %>
		  <span class="navButton navCasts">PODCASTS</span><% end %>
		<%= link_to(comics_path) do %>
		  <span class="navButton navComics">COMICS</span><% end %>	
	</div>
	<%= yield %>
</div>


</body>
</html>
