<!DOCTYPE html>
<html>
<head>
  <title>Zcgsite</title>
  <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= javascript_include_tag 'jquery.autoellipsis-1.0.10.min' %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="logobox"><img class="logo" src="/assets/zcglogo.png"></div>
	<div class="main">
		<div class="garruk sideBlock"><%= image_tag('garruk.png', class: "sideBlockImage") %></div>
		<div class="content">
			<div id="navBar" class="navBar">
				<%= link_to(root_path) do %>
				  <span class="navButton navHome">HOME</span><% end %>
				<%= link_to("/calendar") do %>
				  <span class="navButton navEvents">EVENTS</span><% end %>
				<%= link_to("/articles") do %>
				  <span class="navButton navArticles">ARTICLES</span><% end %>
				<%= link_to("http://youtube.com") do %>
				  <span class="navButton navVideos">VIDEOS</span><% end %>	
			</div>
			<%= yield %>
		</div>
		<div class="ajani sideBlock"><img class="sideBlockImage" src="/assets/ajani.png"></div>	
	</div>
</body>
</html>
